__pycache__
Judger/build
Judger/test
*.pyc
Judger/*.cpp
Judger/*.c
Judger/*out
Judger/*.log
Judger/*.out
*.in
*.out
*.log
Judger/output/libjudger.so
*.zip
*.exe
.vscode
*.class
# GDUFSTeamScore.py
# GDUFSTeamExport.py
CrawlingServer/contest.json
Database/data
数据

CrawlingServer/NowCoderSpider.py
CrawlingServer/CFSpider.py
CrawlingServer/HDUSpider.py
00*
