__pycache__
Judger/build
Judger/test
*.pyc
Judger/*.cpp
Judger/*.c
Judger/*out
Judger/*.log
Judger/*.out
Judger/*.txt
*.in
*.out
*.log
Judger/output/libjudger.so
migrations
*.zip
*.exe
.vscode
*.class
# GDUFSTeamScore.py
# GDUFSTeamExport.py
CrawlingServer/contest.json
Database/data

